<div class="grid-list">
  @for (app of applications; track app.id; let index = $index) {
    <mat-card class="app-card">
      <mat-card-content class="app-card-content">
        <div class="app-name-div">{{app.name}}</div>
         <div>
            <button class="view-button" mat-raised-button color="accent" (click)="viewApp(app.id!)">View</button>
            <button mat-raised-button color="warn" (click)="uninstall(index)">Delete</button>
          </div>
        </mat-card-content>
      <mat-icon class="modify-button" fontIcon="settings" (click)="openDialog('200ms', '200ms', index)"></mat-icon>
    </mat-card>
  }
  @empty {
    <mat-card class="app-card">
      <mat-card-content>
        <div class="text-center">
          <p>No applications</p>
          <p>installed at the moment.</p>
          <button mat-raised-button (click)="browseApps()" color="accent">Browse Apps</button>
        </div>
      </mat-card-content>
    </mat-card>
  }
</div>

