.app-card-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
}

.app-name-div {
  align-self: center;
  font-size: large;
  margin: 25px;
}
.app-card {
  max-width: 200px;
  margin: 0 0 30px;
}

.grid-list {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.view-button {
  margin: 0 2px;
}
