mat-card-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
}

.name-div {
  margin: 10px;
}
.card {
  max-width: 200px;
  margin: 0 0 30px;
}

.grid-list {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}
